/*▲▼▲▼▲▼▲▼▲▼▲▼  Banner  ▲▼▲▼▲▼▲▼▲▼▲▼*/

#banner {
  background-image: url(../img/tnt-banner.jpg);
  background-color: #333333;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -30px;
}

/*▲▼▲▼▲▼▲▼▲▼  Conheça a TNT  ▲▼▲▼▲▼▲▼▲▼*/

#duas-colunas {
  display: grid;
  padding: 10px 10px 0;
  gap: 10px;
  grid-template-rows: 70px auto;
  grid-template-columns: 3fr 2fr;
}

#duas-colunas h1 {
  grid-column: 1/3;
  text-align: center;
}

#about {
  background-color: var(--cor-fundo-clara);
  box-sizing: border-box;
  padding: 0px 20px;
}

.p-about {
  text-align: justify;
}

#about p:last-of-type {
  color: var(--cor-primaria);
  font-size: 24px;
  font-weight: 600;
  font-family: teko;
}

#produtos {
  background-image: url(../img/tnt-faces.png);
  background-size: cover;
}

/*▲▼▲▼▲▼▲▼▲▼  Três Colunas  ▲▼▲▼▲▼▲▼*/

#tres-colunas {
  display: grid;
  padding: 10px;
  gap: 10px;
  grid-template-columns: auto auto auto;
}

#atletas {
  background-color: #d82c3432;
}

#eventos {
  background-color: #d82c3432;
}

#campanhas {
  background-color: #d82c3432;
}
