#main-conteudo {
  overflow: hidden;
}

.carousel-control.right {
  right: 636px !important;
  left: auto;
  background-image: none !important;
}
.carousel-control.left {
  background-image: none !important;
}
/* imagem tnt isotonico tamanho  */
.tnt-isotonico {
  width: 504px;
  height: 535px;
}
h1 {
  font-family: teko, "Arial Narrow Bold";
  text-transform: uppercase;
  font-size: 50px;
  margin: 30px 0;
}
h2 {
  float: right;
  font-size: 40px;
  color: #d80035;
  font-weight: 700;
  left: 200px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.329);
}

.acai {
  float: right;
  font-size: 40px;
  color: #70035c;
  font-weight: 700;
}
.pessego {
  float: right;
  font-size: 40px;
  color: #fc7763;
  font-weight: 700;
}
.citrus {
  float: right;
  font-size: 40px;
  color: #8fbc35;
  font-weight: 700;
}
.maca-verde {
  float: right;
  font-size: 40px;
  color: #25c07d;
  font-weight: 700;
}
.zero-acucar {
  float: right;
  font-size: 40px;
  color: #262626;
  font-weight: 700;
}
.tnt-isotonico-laranja {
  float: right;
  font-size: 40px;
  color: #c78911;
  font-weight: 700;
}
.tnt-isotonico-limao {
  float: right;
  font-size: 40px;
  color: #437a14;
  font-weight: 700;
}
.tnt-isotonico-uva {
  float: right;
  font-size: 40px;
  color: #914ca3;
  font-weight: 700;
}
.tnt-isotonico-tangerina {
  float: right;
  font-size: 40px;
  color: #c54810;
  font-weight: 700;
}

h3 {
  top: 500px;
  text-align: right;
  float: right;
  right: 200px;
  font-family: Helvetica, sans-serif;
  text-transform: none;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.205);
  /* border-style: solid;
  border-width: 1px; */
}
.carrossel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.carrosel-direito {
  max-width: 490px;
  margin: 0 -15px;
}

/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
/* -----Arrumando Bootstrap---- */
/*▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼▲▼*/
* {
  box-sizing: content-box;
  color: black;
}

button {
  box-sizing: border-box;
}

nav {
  margin-top: 18px;
}
