#main-conteudo {
  min-height: 700px;
}

.carousel-control.right {
  right: 636px !important;
  left: auto;
  background-image: none !important;
}
.carousel-control.left {
  background-image: none !important;
}
/* imagem tnt isotonico tamanho  */
.tnt-isotonico {
  width: 504px;
  height: 535px;
}
h1 {
  font-family: teko, "Arial Narrow Bold";
  text-transform: uppercase;
  font-size: 50px;
}
h2 {
  float: right;
  font-size: 40px;
  color: #D80035;
  font-weight: 700;
  left: 200px
}
.acai {
  float: right;
  font-size: 40px;
  color: #70035C;
  font-weight: 700;
}
.pessego {
  float: right;
  font-size: 40px;
  color: #FC7763;
  font-weight: 700;
}
.citrus {
  float: right;
  font-size: 40px;
  color: #8FBC35;
  font-weight: 700;
}
.maca-verde {
  float: right;
  font-size: 40px;
  color: #25C07D;
  font-weight: 700;
}
.zero-acucar {
  float: right;
  font-size: 40px;
  color: #262626;
  font-weight: 700;
}
.tnt-isotonico-laranja {
  float: right;
  font-size: 40px;
  color: #c78911;
  font-weight: 700;
}
.tnt-isotonico-limao {
  float: right;
  font-size: 40px;
  color: #437A14;
  font-weight: 700;
}
.tnt-isotonico-uva {
  float: right;
  font-size: 40px;
  color: #914CA3;
  font-weight: 700;
}
.tnt-isotonico-tangerina {
  float: right;
  font-size: 40px;
  color: #C54810;
  font-weight: 700;
}

h3 {
  top: 500px;
  text-align: right;
  float: right;
  right: 200px;
  font-family: Helvetica, sans-serif;
  text-transform: none;
  border-style: solid;
  border-width: 1px;
}
.carrossel-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.carrosel-direito {
  max-width: 490px;
}
