#main-conteudo{
    font-family: teko, "Arial Narrow Bold";
    text-transform: uppercase;
    padding: 25px;
    font-size: 18px;
}

#name{
    margin: 5px;
    width: 170px;
}
#Email{
    margin: 5px;
    width: 150px;
}
#Date{
    margin: 5px;
    width: 150px;
}
#tel{
    margin: 5px;
    width: 100px;
}
#rua{
    margin: 5px;
    top: 8px;
    width: 150px;
}
#Number{
    margin: 5px;
    top: 8px;
    width: 150px;
}
#bairro{
    margin: 5px;
    top: 8px;
    width: 150px;
}
#obs{
    height: 163px;
    width: 475px;
}
#sexo{
    margin: 5px;
    top: 8px;
    width: 90px;
}