#main-conteudo {
  font-family: teko, "Arial Narrow Bold";
  text-transform: uppercase;
  font-size: 18px;
  height: 980px;
  display: grid;
  grid-template-columns: 330px 1fr;
  grid-row: 815px;
}

#imagem-lateral-formulario {
  background-image: url(../img/form-imagem-lado.jpg);
  background-size: cover;
  height: 850px;
  margin: 20px;
  border: 1px solid var(--cor-fundo-banner);
  border-radius: 20px;
  border: 1px solid;
  padding-left: 5px;
  margin-top: 87px;
  box-shadow: grey 3px 1px 5px 1px;
}

h2,
form section {
  margin-left: 15px;
  margin-bottom: 6px;
}

form section input {
  box-shadow: grey 1px 1px 2px 1px;
  line-height: 24px;
  width: 250px;
  border-radius: 8px;
  border: 1px solid;
  padding-left: 5px;
}

form section textarea {
  line-height: 24px;
  width: 250px;
  resize: none;
  border-radius: 8px;
  border: 1px solid;
  box-shadow: grey 1px 1px 2px 1px;
  padding-left: 5px;
}

form section label {
  line-height: 26px;
}

#btnSend {
  width: 260px;
  margin-top: 25px;
  line-height: 200%;
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
  background-color: var(--cor-primaria-suave);
  color: var(--cor-texto-clara);
  border-radius: 8px;
  border: 1px solid black;
  box-shadow: grey 1px 1px 2px 1px;
}

#btnSend:hover {
  background-color: var(--cor-primaria-acento);
}

#btnSend:active {
  box-shadow: inset black 1px 1px 1px 1px;
}
